<div class="modal-overlay">
  <div class="modal-box">

    <div class="modal-title">Edit labels</div>

    <div class="modal-row">
      <button class="icon-btn" type="button">
        <span class="material-symbols-outlined">close</span>
      </button>

      <input class="label-input" type="text" placeholder="Create new label" />

      <button class="icon-btn" type="button">
        <span class="material-symbols-outlined">check</span>
      </button>
    </div>

    <div class="modal-footer">
      <button class="done-btn" type="button">Done</button>
    </div>

  </div>
</div>
