<div class="register-wrapper">

  <div class="register-container">

    <!-- LEFT -->
    <div class="left-section">

      <img class="google-logo-img" src="assets/images/google-logo.png" alt="Google Logo" />

      <div class="register-title">Create your Google Account</div>

      <div class="row">
        <input class="half-input" type="text" placeholder="First Name*" />
        <input class="half-input" type="text" placeholder="Last Name*" />
      </div>

      <div class="full-row">
        <input class="full-input" type="text" placeholder="username*" />
        <div class="small-text">You can use letters, numbers & periods</div>

        <a class="link-blue" href="#">Use my current email instead</a>
      </div>

      <div class="row">
        <input class="half-input" type="password" placeholder="Password*" />
        <input class="half-input" type="password" placeholder="Confirm*" />
      </div>

      <div class="small-text">
        Use 8 or more characters with a mix of letters, numbers & symbols
      </div>

      <div class="checkbox-row">
        <input type="checkbox" />
        <span>Show Password</span>
      </div>

      <div class="bottom-row">
        <a class="link-blue" routerLink="/login">Sign in instead</a>
        <button class="next-btn">Next</button>
      </div>
    </div>

    <!-- RIGHT -->
    <div class="right-section">
      <img
        class="illustration"
        src="assets/images/google-illustration.png"
        alt="Google Illustration"
      />

      <div class="right-text">
        One account. All of Google working for you.
      </div>
    </div>

  </div>
</div>
